---
// Component Imports
import Chat from "../components/Chat.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Luna</title>
  </head>

  <body
    class="dark flex flex-col h-screen w-screen bg-gradient-to-b from-white dark:from-light-gray to-light-blue dark:to-medium-gray dark:text-off-white p-8 font-inter font-medium xl:px-24">
    <nav class="flex items-center px-8 gap-2 h-16">
      <h1 class="text-xl">LUNA</h1>
      <img src="logo.png" class="h-8" />
    </nav>
    <main
      class="flex flex-grow flex-col lg:flex-row items-center justify-center h-[calc(100vh-04rem)]">
      <Chat />
    </main>
  </body>
</html>
