---
import Button from "../components/Button.astro";
//const { key = import.meta.env.GROQ_API_KEY } = Astro.props;
---

<div class="flex flex-col gap-8">
  <div id="chat-output" class="p-4 mt-4 border border-gray-100 rounded"></div>

  <div class="flex gap-8">
    <input id="user" type="text" class="border border-gray-300 rounded" />
    <Button id="submit-button">Confetti!</Button>
  </div>
</div>

<script>
  import Groq from "groq-sdk";
  // the fetch
  const key = "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";

  const groq = new Groq({ apiKey: key, dangerouslyAllowBrowser: true });

  async function getGroqChatCompletion(m: string) {
    return groq.chat.completions.create({
      messages: [
        {
          role: "system",
          content:
            "you are named Luna. out of the following list: anger, sympathy, fear, happiness, sadness, excitement, and neutral, pick the emotion that best fits your own response and put it in parenthesis at the beginning of your response",
        },
        {
          role: "user",
          content: m,
        },
      ],
      model: "llama3-70b-8192",
    });
  }

  // await the response + parse results
  async function chat(m: string) {
    const chatCompletion = await getGroqChatCompletion(m);
    console.log(chatCompletion.choices[0]?.message?.content || "");
    const output = chatCompletion.choices[0]?.message?.content || "";
    return output;
  }

  const button = document.getElementById("submit-button");
  const box = document.getElementById("chat-output");

  button.addEventListener("click", async () => {
    const user = document.getElementById("user").value;
    if (box) box.textContent = await chat(user); // await the result of chat()
  });
</script>
