---
// User message input field and button
---

<div id="message-form" class="flex border border-black rounded-full">
  <input
    id="user"
    type="text"
    name="userInput"
    class="bg-transparent w-full px-3 py-2 rounded-full sm:text-sm"
    placeholder="Message Luna"
  />

  <button
    id="submit-button"
    class="bg-black text-white rounded-full m-2"
    type="submit">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M11 20V7.825L5.4 13.425L4 12L12 4L20 12L18.6 13.425L13 7.825V20H11Z"
        fill="currentColor"></path>
    </svg>
  </button>
</div>
