---
export const prerender = false;
---

<canvas id="canvas" width="1000" height="1000"></canvas>
<button id="happy">happy</button>

<script>
  import * as rive from "@rive-app/canvas";
  const r = new rive.Rive({
    //src: "https://cdn.rive.app/animations/vehicles.riv",
    // OR the path to a discoverable and public Rive asset
    src: "/luna.riv",
    canvas: document.getElementById("canvas") as HTMLCanvasElement,
    autoplay: true,
    stateMachines: "State Machine 1",
    onLoad: () => {},
  });
</script>
