<nav class="flex items-center justify-between gap-2 h-24 z-200">
  <!-- Logo -->
  <svg
    class="h-14"
    viewBox="0 0 341 102"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <title>Luna</title>
    <path
      d="M278.812 16.2091C278.922 15.9259 279.116 15.6827 279.367 15.5113C279.618 15.3398 279.914 15.248 280.218 15.248C280.522 15.248 280.819 15.3398 281.07 15.5113C281.321 15.6827 281.514 15.9259 281.625 16.2091L282.968 19.631C283.043 19.8247 283.157 20.0009 283.303 20.1483C283.45 20.2957 283.625 20.4111 283.818 20.4872L287.228 21.8372C287.51 21.9497 287.752 22.1442 287.923 22.3958C288.093 22.6473 288.184 22.9442 288.184 23.2481C288.184 23.5521 288.093 23.849 287.923 24.1005C287.752 24.352 287.51 24.5466 287.228 24.6591L283.818 26.0091C283.625 26.0848 283.45 26.1998 283.304 26.3466C283.158 26.4934 283.043 26.669 282.968 26.8622L281.625 30.281C281.118 31.5622 279.312 31.5622 278.812 30.281L277.468 26.8591C277.393 26.6656 277.278 26.4898 277.131 26.343C276.984 26.1961 276.809 26.0814 276.615 26.006L273.206 24.656C272.923 24.5435 272.681 24.3489 272.511 24.0974C272.34 23.8459 272.249 23.5489 272.249 23.245C272.249 22.9411 272.34 22.6442 272.511 22.3927C272.681 22.1411 272.923 21.9465 273.206 21.8341L276.615 20.4841C276.809 20.4083 276.985 20.2931 277.132 20.1457C277.279 19.9983 277.393 19.8219 277.468 19.6278L278.812 16.2091ZM290.896 34.406C291.007 34.1228 291.2 33.8796 291.451 33.7081C291.702 33.5367 291.999 33.4449 292.303 33.4449C292.607 33.4449 292.903 33.5367 293.154 33.7081C293.405 33.8796 293.598 34.1228 293.709 34.406L294.2 35.6528C294.275 35.846 294.389 36.0216 294.535 36.1684C294.681 36.3153 294.857 36.4302 295.05 36.506L296.293 36.9997C296.576 37.1122 296.818 37.3067 296.988 37.5583C297.159 37.8098 297.25 38.1067 297.25 38.4106C297.25 38.7146 297.159 39.0115 296.988 39.263C296.818 39.5145 296.576 39.7091 296.293 39.8216L295.05 40.3122C294.659 40.4685 294.353 40.7747 294.2 41.1685L293.709 42.4153C293.206 43.6966 291.4 43.6966 290.896 42.4153L290.406 41.1653C290.331 40.9721 290.216 40.7966 290.07 40.6497C289.924 40.5029 289.749 40.388 289.556 40.3122L288.312 39.8216C288.03 39.7091 287.788 39.5145 287.617 39.263C287.446 39.0115 287.355 38.7146 287.355 38.4106C287.355 38.1067 287.446 37.8098 287.617 37.5583C287.788 37.3067 288.03 37.1122 288.312 36.9997L289.556 36.506C289.749 36.4302 289.924 36.3153 290.07 36.1684C290.216 36.0216 290.331 35.846 290.406 35.6528L290.896 34.406Z"
      fill="currentColor"></path>
    <path
      d="M303.5 77.75C286.241 77.75 272.25 63.7594 272.25 46.5C272.25 45.0531 274.419 44.8125 275.166 46.0531C276.759 48.6917 278.931 50.9331 281.519 52.6077C284.106 54.2823 287.041 55.3461 290.101 55.7184C293.16 56.0908 296.264 55.7621 299.178 54.7571C302.092 53.7521 304.738 52.0973 306.918 49.9179C309.097 47.7385 310.752 45.0917 311.757 42.178C312.762 39.2643 313.091 36.1601 312.718 33.1005C312.346 30.041 311.282 27.1063 309.608 24.5187C307.933 21.9312 305.692 19.7586 303.053 18.1656C301.813 17.4156 302.053 15.25 303.5 15.25C320.759 15.25 334.75 29.2406 334.75 46.5C334.75 63.7594 320.759 77.75 303.5 77.75Z"
      fill="currentColor"></path>
    <path
      d="M52.57 58.65C53.0833 58.65 53.5267 58.8367 53.9 59.21C54.2733 59.5833 54.46 60.0267 54.46 60.54V71.11C54.46 71.6233 54.2733 72.0667 53.9 72.44C53.5267 72.8133 53.0833 73 52.57 73H11.69C11.1767 73 10.7333 72.8133 10.36 72.44C9.98667 72.0667 9.8 71.6233 9.8 71.11V25.89C9.8 25.3767 9.98667 24.9333 10.36 24.56C10.7333 24.1867 11.1767 24 11.69 24H26.81C27.3233 24 27.7667 24.1867 28.14 24.56C28.5133 24.9333 28.7 25.3767 28.7 25.89V58.65H52.57ZM92.7227 73.7C84.8827 73.7 78.6527 71.9967 74.0327 68.59C69.4593 65.1833 67.1727 59.8633 67.1727 52.63V25.89C67.1727 25.3767 67.3593 24.9333 67.7327 24.56C68.106 24.1867 68.5493 24 69.0627 24H83.6927C84.206 24 84.6493 24.1867 85.0227 24.56C85.396 24.9333 85.5827 25.3767 85.5827 25.89V53.75C85.5827 55.6633 86.2127 57.1333 87.4727 58.16C88.7793 59.1867 90.5293 59.7 92.7227 59.7C94.916 59.7 96.6427 59.1867 97.9027 58.16C99.2093 57.1333 99.8627 55.6633 99.8627 53.75V25.89C99.8627 25.3767 100.049 24.9333 100.423 24.56C100.796 24.1867 101.239 24 101.753 24H116.383C116.896 24 117.339 24.1867 117.713 24.56C118.086 24.9333 118.273 25.3767 118.273 25.89V52.63C118.273 59.8633 115.963 65.1833 111.343 68.59C106.769 71.9967 100.563 73.7 92.7227 73.7ZM177.605 24C178.119 24 178.562 24.1867 178.935 24.56C179.309 24.9333 179.495 25.3767 179.495 25.89V71.11C179.495 71.6233 179.309 72.0667 178.935 72.44C178.562 72.8133 178.119 73 177.605 73H166.335C165.215 73 164.282 72.51 163.535 71.53L148.275 52.07V71.11C148.275 71.6233 148.089 72.0667 147.715 72.44C147.342 72.8133 146.899 73 146.385 73H133.365C132.852 73 132.409 72.8133 132.035 72.44C131.662 72.0667 131.475 71.6233 131.475 71.11V25.89C131.475 25.3767 131.662 24.9333 132.035 24.56C132.409 24.1867 132.852 24 133.365 24H144.705C145.825 24 146.735 24.4667 147.435 25.4L162.695 46.47V25.89C162.695 25.3767 162.882 24.9333 163.255 24.56C163.629 24.1867 164.072 24 164.585 24H177.605ZM208.588 70.62C207.981 72.2067 206.931 73 205.438 73H192.208C191.788 73 191.415 72.86 191.088 72.58C190.808 72.2533 190.668 71.88 190.668 71.46L190.738 71.04L205.998 26.31C206.185 25.7033 206.535 25.1667 207.048 24.7C207.561 24.2333 208.261 24 209.148 24H228.608C229.495 24 230.195 24.2333 230.708 24.7C231.221 25.1667 231.571 25.7033 231.758 26.31L247.018 71.04L247.088 71.46C247.088 71.88 246.925 72.2533 246.598 72.58C246.318 72.86 245.968 73 245.548 73H232.318C230.825 73 229.775 72.2067 229.168 70.62L227.418 65.72H210.338L208.588 70.62ZM218.878 37.51L213.908 52.07H223.848L218.878 37.51Z"
      fill="currentColor"></path>
  </svg>
  <div class="flex gap-8">
    <!-- Save button, hidden for now -->
    <button
      class="hidden flex justify-center items-center bg-black dark:bg-off-white rounded-full h-10 w-10">
      <svg
        class="w-6 h-6"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.6931 20.6325C15.6053 20.7286 15.4984 20.8053 15.3793 20.8578C15.2602 20.9103 15.1314 20.9374 15.0013 20.9374C14.8711 20.9374 14.7423 20.9103 14.6232 20.8578C14.5041 20.8053 14.3972 20.7286 14.3094 20.6325L9.30938 15.1637C9.14556 14.9796 9.06082 14.7384 9.07351 14.4923C9.0862 14.2461 9.19531 14.0149 9.37721 13.8486C9.55911 13.6823 9.79918 13.5944 10.0455 13.6037C10.2917 13.6131 10.5244 13.7191 10.6931 13.8988L14.0631 17.5863V3.75C14.0631 3.50136 14.1619 3.2629 14.3377 3.08709C14.5135 2.91127 14.752 2.8125 15.0006 2.8125C15.2493 2.8125 15.4877 2.91127 15.6635 3.08709C15.8394 3.2629 15.9381 3.50136 15.9381 3.75V17.585L19.3094 13.8975C19.4773 13.714 19.7112 13.6047 19.9597 13.5937C20.2082 13.5827 20.4509 13.6708 20.6344 13.8388C20.8179 14.0067 20.9272 14.2406 20.9382 14.4891C20.9492 14.7376 20.8611 14.9803 20.6931 15.1637L15.6931 20.6325Z"
          fill="currentColor"></path>
        <path
          d="M4.6875 18.75C4.6875 18.5014 4.58873 18.2629 4.41291 18.0871C4.2371 17.9113 3.99864 17.8125 3.75 17.8125C3.50136 17.8125 3.2629 17.9113 3.08709 18.0871C2.91127 18.2629 2.8125 18.5014 2.8125 18.75V18.8188C2.8125 20.5275 2.8125 21.9063 2.95875 22.99C3.10875 24.115 3.43375 25.0625 4.185 25.815C4.9375 26.5675 5.885 26.89 7.01 27.0425C8.09375 27.1875 9.4725 27.1875 11.1812 27.1875H18.8188C20.5275 27.1875 21.9063 27.1875 22.99 27.0425C24.115 26.89 25.0625 26.5675 25.815 25.815C26.5675 25.0625 26.89 24.115 27.0425 22.99C27.1875 21.9063 27.1875 20.5275 27.1875 18.8188V18.75C27.1875 18.5014 27.0887 18.2629 26.9129 18.0871C26.7371 17.9113 26.4986 17.8125 26.25 17.8125C26.0014 17.8125 25.7629 17.9113 25.5871 18.0871C25.4113 18.2629 25.3125 18.5014 25.3125 18.75C25.3125 20.5437 25.31 21.795 25.1837 22.74C25.06 23.6575 24.8337 24.1425 24.4887 24.4887C24.1425 24.835 23.6575 25.06 22.7387 25.1837C21.795 25.31 20.5437 25.3125 18.75 25.3125H11.25C9.45625 25.3125 8.20375 25.31 7.26 25.1837C6.3425 25.06 5.8575 24.8337 5.51125 24.4887C5.165 24.1425 4.94 23.6575 4.81625 22.7387C4.69 21.795 4.6875 20.5437 4.6875 18.75Z"
          fill="currentColor"></path>
      </svg>
      <span class="sr-only">Save</span>
    </button>
    <!-- Toggle -->
    <label
      for="toggle"
      class="flex items-center cursor-pointer select-none text-gray-900 dark:text-white">
      <span class="sr-only">Dark/Light Mode Toggle</span>
      <div class="relative">
        <input type="checkbox" id="toggle" class="peer sr-only" />
        <div class="h-10 rounded-full bg-gray-900 dark:bg-off-white w-[4.5rem]">
        </div>
        <div
          class="absolute flex items-center justify-center w-8 h-8 transition bg-off-white rounded-full dot dark:bg-gray-800 left-1 top-1 peer-checked:translate-x-full peer-checked:bg-primary">
          <span class="text-body-color dark:hidden">
            <svg
              class="w-6 h-6 stroke-current"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M24 16C24 18.1217 23.1571 20.1566 21.6569 21.6569C20.1566 23.1571 18.1217 24 16 24C13.8783 24 11.8434 23.1571 10.3431 21.6569C8.84286 20.1566 8 18.1217 8 16C8 13.8783 8.84286 11.8434 10.3431 10.3431C11.8434 8.84286 13.8783 8 16 8C18.1217 8 20.1566 8.84286 21.6569 10.3431C23.1571 11.8434 24 13.8783 24 16Z"
                fill="currentColor"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.9993 1.66699C16.2646 1.66699 16.5189 1.77235 16.7065 1.95989C16.894 2.14742 16.9993 2.40178 16.9993 2.66699V4.00033C16.9993 4.26554 16.894 4.5199 16.7065 4.70743C16.5189 4.89497 16.2646 5.00033 15.9993 5.00033C15.7341 5.00033 15.4798 4.89497 15.2922 4.70743C15.1047 4.5199 14.9993 4.26554 14.9993 4.00033V2.66699C14.9993 2.40178 15.1047 2.14742 15.2922 1.95989C15.4798 1.77235 15.7341 1.66699 15.9993 1.66699ZM5.86468 5.86566C6.05218 5.67839 6.30635 5.57321 6.57135 5.57321C6.83635 5.57321 7.09051 5.67839 7.27802 5.86566L7.80202 6.38833C7.98426 6.57684 8.08518 6.8294 8.08303 7.0916C8.08087 7.35379 7.97582 7.60466 7.7905 7.79015C7.60518 7.97565 7.35441 8.08094 7.09222 8.08334C6.83002 8.08574 6.57737 7.98506 6.38868 7.80299L5.86468 7.27899C5.67741 7.09149 5.57223 6.83733 5.57223 6.57233C5.57223 6.30732 5.67741 6.05316 5.86468 5.86566ZM26.134 5.86566C26.3213 6.05316 26.4265 6.30732 26.4265 6.57233C26.4265 6.83733 26.3213 7.09149 26.134 7.27899L25.61 7.80299C25.4204 7.97963 25.1697 8.0758 24.9107 8.07123C24.6516 8.06665 24.4044 7.96171 24.2212 7.77849C24.038 7.59527 23.933 7.34809 23.9284 7.08902C23.9239 6.82995 24.02 6.57922 24.1967 6.38966L24.7207 5.86566C24.9082 5.67839 25.1623 5.57321 25.4273 5.57321C25.6923 5.57321 25.9465 5.67839 26.134 5.86566ZM1.66602 16.0003C1.66602 15.7351 1.77137 15.4808 1.95891 15.2932C2.14645 15.1057 2.4008 15.0003 2.66602 15.0003H3.99935C4.26457 15.0003 4.51892 15.1057 4.70646 15.2932C4.89399 15.4808 4.99935 15.7351 4.99935 16.0003C4.99935 16.2655 4.89399 16.5199 4.70646 16.7074C4.51892 16.895 4.26457 17.0003 3.99935 17.0003H2.66602C2.4008 17.0003 2.14645 16.895 1.95891 16.7074C1.77137 16.5199 1.66602 16.2655 1.66602 16.0003ZM26.9993 16.0003C26.9993 15.7351 27.1047 15.4808 27.2922 15.2932C27.4798 15.1057 27.7341 15.0003 27.9993 15.0003H29.3327C29.5979 15.0003 29.8523 15.1057 30.0398 15.2932C30.2273 15.4808 30.3327 15.7351 30.3327 16.0003C30.3327 16.2655 30.2273 16.5199 30.0398 16.7074C29.8523 16.895 29.5979 17.0003 29.3327 17.0003H27.9993C27.7341 17.0003 27.4798 16.895 27.2922 16.7074C27.1047 16.5199 26.9993 16.2655 26.9993 16.0003ZM24.1967 24.1977C24.3842 24.0104 24.6383 23.9052 24.9033 23.9052C25.1683 23.9052 25.4225 24.0104 25.61 24.1977L26.134 24.7217C26.2323 24.8132 26.3111 24.9236 26.3657 25.0463C26.4204 25.1689 26.4498 25.3014 26.4521 25.4356C26.4545 25.5699 26.4298 25.7033 26.3795 25.8278C26.3292 25.9523 26.2544 26.0654 26.1594 26.1604C26.0644 26.2553 25.9513 26.3302 25.8268 26.3805C25.7023 26.4308 25.5689 26.4555 25.4347 26.4531C25.3004 26.4507 25.168 26.4214 25.0453 26.3667C24.9226 26.312 24.8122 26.2332 24.7207 26.135L24.1967 25.611C24.0094 25.4235 23.9042 25.1693 23.9042 24.9043C23.9042 24.6393 24.0094 24.3852 24.1967 24.1977ZM7.80202 24.1977C7.98928 24.3852 8.09447 24.6393 8.09447 24.9043C8.09447 25.1693 7.98928 25.4235 7.80202 25.611L7.27802 26.135C7.18647 26.2332 7.07607 26.312 6.9534 26.3667C6.83073 26.4214 6.69832 26.4507 6.56405 26.4531C6.42977 26.4555 6.2964 26.4308 6.17188 26.3805C6.04737 26.3302 5.93426 26.2553 5.8393 26.1604C5.74434 26.0654 5.66948 25.9523 5.61918 25.8278C5.56889 25.7033 5.54419 25.5699 5.54656 25.4356C5.54893 25.3014 5.57832 25.1689 5.63297 25.0463C5.68763 24.9236 5.76643 24.8132 5.86468 24.7217L6.38735 24.1977C6.48022 24.1047 6.59048 24.031 6.71185 23.9807C6.83322 23.9304 6.96331 23.9045 7.09468 23.9045C7.22606 23.9045 7.35615 23.9304 7.47751 23.9807C7.59888 24.031 7.70915 24.1047 7.80202 24.1977ZM15.9993 27.0003C16.2646 27.0003 16.5189 27.1057 16.7065 27.2932C16.894 27.4808 16.9993 27.7351 16.9993 28.0003V29.3337C16.9993 29.5989 16.894 29.8532 16.7065 30.0408C16.5189 30.2283 16.2646 30.3337 15.9993 30.3337C15.7341 30.3337 15.4798 30.2283 15.2922 30.0408C15.1047 29.8532 14.9993 29.5989 14.9993 29.3337V28.0003C14.9993 27.7351 15.1047 27.4808 15.2922 27.2932C15.4798 27.1057 15.7341 27.0003 15.9993 27.0003Z"
                fill="currentColor"></path>
            </svg>
          </span>
          <span class="text-body-color hidden dark:block">
            <svg
              class="w-6 h-6 stroke-current"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M29.3327 15.9997C29.3327 8.63568 23.3633 2.66634 15.9993 2.66634C15.382 2.66634 15.2793 3.59168 15.8087 3.91034C16.9345 4.59002 17.8908 5.51697 18.6053 6.62099C19.3198 7.72501 19.7737 8.97715 19.9326 10.2826C20.0914 11.588 19.9512 12.9124 19.5224 14.1556C19.0936 15.3988 18.3875 16.5281 17.4576 17.458C16.5278 18.3878 15.3985 19.0939 14.1553 19.5227C12.9121 19.9515 11.5877 20.0918 10.2822 19.9329C8.97682 19.774 7.72469 19.3201 6.62066 18.6056C5.51664 17.8911 4.58969 16.9348 3.91002 15.809C3.59002 15.2797 2.66602 15.3823 2.66602 15.9997C2.66602 23.3637 8.63535 29.333 15.9993 29.333C23.3633 29.333 29.3327 23.3637 29.3327 15.9997Z"
                fill="currentColor"></path>
            </svg>
          </span>
        </div>
      </div>
    </label>
  </div>
</nav>
